.container {
  max-width: 950px;
  border: 2px solid;
  box-shadow: 0 0 15px;
  margin: auto;
}

.calendar {
  border: 2px solid;
  margin: 5px 5px 5px 5px;
  display: inline-block;
}

table,
tr,
td,
th {
  text-align: center;
}

p {
  text-align: center;
  line-height: 0.2;
}

.bg-yellow {
  background-color: yellow;
}
